__pycache__/
*.py[cod]
*.pyc
.venv/
venv/
env/
.env

emotion_classifier/app/classification_model/
emotion_classifier/huggingface_models/
models
model

*.bin
*.h5
*.safetensors
*.ckpt
*.pt
*.pth
*.onnx
