@import "tailwindcss";

@theme {
  --font-serif: "Literata", ui-serif, Georgia, serif;
  --font-sans: "Hanken Grotesk", ui-sans-serif, system-ui, sans-serif;

  --color-bg: #FAF6EF;
  --color-sidebar: #F4EFE6;
  --color-bg-sunken: #E9E5DD;
  --color-bg-bezel: #E6DFD2;
  --color-surface: #FFFFFF;
  --color-surface-inset: #F1ECE3;

  --color-fg: #34302A;
  --color-fg-muted: #7C746A;
  --color-fg-faint: #BCB3A4;

  --color-primary: #79856A;
  --color-fg-disabled: #B6AEA2;
  --color-border: #EDE6DB;

  --color-anger: #D6A48F;
  --color-disgust: #B9C4AC;
  --color-fear: #BBB0CC;
  --color-joy: #E0C386;
  --color-neutral: #C4BBAC;
  --color-sadness: #A7C0CC;
  --color-surprise: #DBB6B2;
  --color-none: #D8D2C6;
}